@model speak_out.Models.Volunteers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Volunteers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolunteerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
